<!-- override this partial to add content before the head tag closes -->
<!--- add anything.js -->
<link href="css/resume.css" rel="stylesheet">
<link href="css/Treant.css" rel="stylesheet">
<link href="css/no-parent.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.35/go-debug.js" type="module"></script>
<script src="/js/anything.js" type="module"></script>
<script src="/js/Treant.js" type="module"></script>
<script src="/js/no-parent.js" type="module"></script>


